<!DOCTYPE html>
<html>
<head>
	<title>欢迎登录蓉e犬后台管理系统</title>
    
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
    <!-- bootstrap -->
    <link href="../../css/dog_e/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="../../css/dog_e/bootstrap/bootstrap-responsive.css" rel="stylesheet" />
    <link href="../../css/dog_e/bootstrap/bootstrap-overrides.css" type="text/css" rel="stylesheet" />

    <!-- global styles -->
    <link rel="stylesheet" type="text/css" href="../../css/dog_e/layout.css" />
    <link rel="stylesheet" type="text/css" href="../../css/dog_e/elements.css" />
    <link rel="stylesheet" type="text/css" href="../../css/dog_e/icons.css" />

    <!-- libraries -->
    <link rel="stylesheet" type="text/css" href="../../css/dog_e/lib/font-awesome.css" />
    
    <!-- this page specific styles -->
    <link rel="stylesheet" href="../../css/dog_e/compiled/new-user.css" type="text/css" media="screen" />
    
<!--    弹框插件-->
   <link rel="stylesheet" href="../../css/sweetAlert/example.css">
   <link rel="stylesheet" href="../../css/sweetAlert/sweet-alert.css">
   
    <!-- open sans font -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
<style>
    .selArea{
        width: 381px;
    }    
</style>
<body>

    <!-- navbar -->
    <div class="navbar navbar-inverse">
        <div class="navbar-inner">
            <a class="brand" href="index.html"><img src="../../img/logo.png" /></a>
        </div>
    </div>
    <!-- end navbar -->

    <!-- sidebar -->
        <!-- sidebar -->
    <div id="sidebar-nav">
        <ul id="dashboard-menu">
            <li>
                <a class="dropdown-toggle" href="#">
                    <i class="icon-home"></i>
                    <span>审批管理</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="submenu">
                    <li><a href="not-user-list.html">未审批</a></li>
                    <li><a href="pass_list.html">已审批</a></li>
                    <li><a href="not-pass-list.html">未通过记录</a></li>
                    <li><a href="all-news-list.html">全部审核历史</a></li>
                </ul>
            </li>            
            <li>
                 <a class="dropdown-toggle" href="#">
                    <i class="icon-th-large"></i>
                    <span>犬只管理</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="submenu">
                    <li><a href="dog-user-list.html">犬种类</a></li>
                    <li><a href="dog-skin-list.html">犬毛色</a></li>
                    <li><a href="dog-forbid-list.html">禁养犬种</a></li>
                    <li><a href="vaccine-list.html">疫苗网点</a></li>
                </ul>
            </li>
            <li>
                <a class="dropdown-toggle" href="#">
                    <i class="icon-group"></i>
                    <span>组织架构</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="submenu">
                    <li><a href="area-list.html">地区</a></li>
                    <li><a href="user-list.html">用户列表</a></li>
                    <li><a href="new-user.html">新用户</a></li>
                </ul>
            </li>
            <li>
               <a class="dropdown-toggle" href="#">
                    <i class="icon-picture"></i>
                    <span>广告</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="submenu">
                    <li><a href="advertisement.html">查看已发布广告</a></li>
                    <li><a href="form-wizard.html">新增广告</a></li>
                </ul>
            </li>
            <li>
               <a class="dropdown-toggle" href="#">
                    <i class="icon-calendar-empty"></i>
                    <span>资讯</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="submenu">
                    <li><a href="infomation.html">查看已发布资讯</a></li>
                    <li><a href="add-complain.html">新增资讯</a></li>
                </ul>
            </li>
            <li>
                <a href="count.html">
                    <i class="icon-cog"></i>
                    <span>统计</span>
                </a>
            </li>
            <li>
                <a href="personal-info.html">
                    <i class="icon-cog"></i>
                    <span>我的信息</span>
                </a>
            </li>
            <li>
                <a class="dropdown-toggle" href="#">
                    <i class="icon-share-alt"></i>
                    <span>退出</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="submenu">

                    <li><a href="signin.html">重新登录</a></li>
                    <li><a href="signin.html">退出</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- end sidebar -->

<!--    防止页面跳转标签-->
    <iframe id='iframe_display' name='iframe_display' style='display:none'></iframe>
	<!-- main container -->
    <div class="content">
        <div class="container-fluid">
            <div id="pad-wrapper" class="new-user">
                <div class="row-fluid header" style="margin:0 0 30px 0;">
                    <h3>创建一个新用户</h3>
                </div>

                <div class="row-fluid form-wrapper">
                    <!-- left column -->
                    <div class="span9 with-sidebar">
                        <div class="container">
                           
                            <form class="new_user_form inline-input" action="" method="post" id="formSub" target="iframe_display">
                                <div class="span12 field-box">
                                    <label>警员编号:</label>
                                    <input name='accocunt' class="span9" id='test' type="text" maxlength='20'/>
                                </div>
                                <div class="span12 field-box">
                                    <label>密 码:</label>
                                    <input name='pwd' class="span9" type="password" />
                                </div>
                                <div class="span12 field-box">
                                    <label>姓 名:</label>
                                    <input name='user_name' class="span9" type="text" maxlength='10'/>
                                </div>
                                <div class="span12 field-box">
                                    <label>电 话:</label>
                                    <input name='phone' class="span9" type="text" maxlength='11'/>
                                </div>
                                <div class="span12 field-box">
                                    <label>地 区:</label>
                                   <select name="branch" id="sel1" class="selArea">
                                       <option value="高新区">高新区</option>
                                       <option value="青羊区">青羊区</option>
                                       <option value="成华区">成华区</option>
                                       <option value="金牛区">金牛区</option>
                                   </select>
                                </div>
                                <div class="span12 field-box">
                                    <label>权 限:</label>
                                    <select name="rank" id="sel2" class="selArea">
                                       <option value="1">1</option>
                                       <option value="2">2</option>
                                   </select>
                                </div>
                                 <div class="span12 field-box">
                                    <label>是否禁用:</label>
                                    <select name="is_available" id="sel3" class="selArea">
                                       <option value="0">0</option>
                                       <option value="1">1</option>
                                   </select>
                                </div>
                                <div class="span11 field-box actions">
                                    <input type="submit"  class="btn-glow primary" id="btn-glow" value="提交" />
                                    <span>OR</span>
                                    <input type="reset" value="放弃" class="reset" id="reset-r" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


	<!-- scripts -->
   
   
    <script src="../../js/dog_e/jquery-latest.js"></script>
    <script src="../../js/dog_e/bootstrap.min.js"></script>
    <script src="../../js/dog_e/theme.js"></script>
    
<!--    弹框插件-->
    <scpirt src='../../js/dog_e/jquery-1.8.3.min.js'></scpirt>
    <script src='../../js/sweetAeler/sweet-alert.js'></script>
    <script src='../../js/sweetAeler/sweet-alert.min.js'></script>    
   
   

    <script type="text/javascript">
        $(function () {
                
                        var inputVal = $('.span9')
                        //所有的input默认为false
                        var checkArr = [false,false,false,false]
                        //警员编号验证
                        inputVal.eq(1).change(function(){
                            var input1 = inputVal.eq(1).val();
                            var reg = /^[A-Za-z0-9]{20}$/
                            if(reg.test(input1)){
                                checkArr[0] = true;

                            }else{
                                sweetAlert("NO!", "警员编号只能是数字/字母，请正确填写！", "error");
                                checkArr[0] = false;
                            }
                        })
                       
                        //密码验证  
                        inputVal.eq(2).change(function(){
                            var input2 = inputVal.eq(2).val();
                            var reg = /^[A-Za-z0-9]{6,20}$/
                            if(reg.test(input2)){
                                checkArr[1] = true;

                            }else{
                                sweetAlert("NO!", "请正确填写6-12位数字/字母密码！", "error");
                                checkArr[1] = false;
                            }
                        })
                        
                        //姓名的验证
                        inputVal.eq(3).change(function(){
                            var input3 = inputVal.eq(3).val();
                            if(input3){
                                checkArr[2] = true;
                            }else{
                                sweetAlert("NO!", "姓名不能为空，请正确填写！", "error");
                                checkArr[2] = false;
                            }
                        })

                        //电话验证
                        inputVal.eq(4).change(function(){
                            var input4 = inputVal.eq(4).val();
                            var reg = /^[0-9]{11}$/
                            if(reg.test(input4)){
                                checkArr[3] = true;
                            }else{
                                sweetAlert("NO!", "电话号码为11位纯数字，请正确填写！", "error");
                                checkArr[3] = false;
                            }
                        })
                        //按钮提交
                        $('#formSub').submit(function(){
                          for(var val of checkArr){
                                    if(!val){
//                                        console.log('erro')
                                        sweetAlert("NO!", "请正确填写所有信息！", "error");
                                        return false;
                                    }
                            }
                    
//                            console.log('yes')
                            sweetAlert("Yes!", "提交成功！", "success");
                        })
                 
                        //放弃提交
                        $('.reset').on('click',function(){
                            swal({
                                  title: "你确定要放弃?",
                                  type: "warning",
                                  showCancelButton: true,
                                  confirmButtonColor: "#DD6B55",
                                  confirmButtonText: "Yes, 放弃!",
                                  cancelButtonText: "No, 再想想!",
                                  closeOnConfirm: false
                                },
                                 function(){
                                  swal("OK!", "该信息已经不存在.", "success");
                                });
                            })
                });
    </script>

</body>
</html>